<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="Log4j2 configuration" shutdownHook="disable">
    <Appenders>
        <Console target="SYSTEM_OUT" name="Console">
            <PatternLayout pattern="%highlight{[%-5level][%d{YYYY-MM-dd HH:mm:ss.SSS}][%logger{36}]} %msg%n" />
        </Console>
    </Appenders>
    <RollingFile name="RollingFile" fileName="logs/knapsack-api.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log" append="true" createOnDemand="true">
        <PatternLayout pattern="%msg%n" />
        <Policies>
            <SizeBasedTriggeringPolicy size="1 MB" />
        </Policies>
        <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>